{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="m-4 display-6 text-decoration-underline">Créer un compte</h1>

    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <label for="" class="form-label">

                    {{ form_label(registrationForm.email, null, {
                        'label': 'Votre adresse de messagerie/ Email',
                    }) }}
                </label>
                <div class="form-control">
                    {{ form_widget(registrationForm.email) }}
                </div>
                <label for="" class="form-label mt-4">

                    {{ form_label(registrationForm.plainPassword, null, {
                        'label': 'Votre mot de passe/ Password',
                    }) }}
                </label>
                <div class="form-control mb-2">
                    {{ form_widget(registrationForm.plainPassword) }}
                </div>

                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary mt-4 mb-4">Valider</button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
