{% extends 'base.html.twig' %}

{% block title %}liste des Commentaires{% endblock %}

{% block body %}
    <h1>Liste des Commentaires</h1>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('app_comment_show', {'id': comment.id}) }}">Détail</a>
                        <a class="btn btn-success" href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
