{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.title, 'Nom', {
            'attr': {'class': 'form-label'}
            })
        }}
        {{ form_widget(form.title,
            {'attr': {'class': 'form-control'}
            })
        }}
    </div>
<div class="mb-3">
    {{ form_label(form.imageFile, 'Fichier image', {
        'attr': {'class': 'form-label'}
    }) }}
    {{ form_widget(form.imageFile,
        {'attr': {'class': 'form-control'}
        })
    }}
</div>


<button class="btn btn-success my-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
