{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="m-5">
        <h1 class="display-4 m-4 text-decoration-underline">Me Contacter</h1>
            {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
        {{ form_start(form) }}
        <div class="container">
            <div class="row mt-2">
                <div class="col">{{ form_row(form.firstname) }}</div>
                <div class="col">{{ form_row(form.lastname) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.phone) }}</div>
                <div class="col">{{ form_row(form.email) }}</div>
            </div>
            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
</div>
{% endblock %}
