{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Mon Blog</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">Articles récents</h3>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    {% for article in articles %}
                        <h2>{{ article.title }}</h2>
                        <p>{{ article.content }}</p>
                        <p>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>

                        <a href="{{ article.linkUrl }}">{{ article.linkUrl }}</a>

                        <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    {% else %}
                        <div>
                            <h2>no records found</h2>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
