{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">

        <div class="container-fluid bg-dark">
            <div class="container mb-2">
                <h1 class="m-3 text-center text-white text-decoration-underline">{{ article.title }}</h1>

                <div class="row m-4">
                    <a class="nav-link" href="{{ path('app_comment_new') }}">Ajouter un commentaire</a>
                    <div class="card" >
                        <div class="card-body bg-dark text-white">
                            <h2>Crée le : {{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</h2>
                            <p class="card-text"> {{ article.content }}</p>
                            {% if article.linkUrl is not ('') %}
                            <a class="btn btn-primary" href="{{ article.linkUrl }}" target="_blank">Lien vers l' site</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a class="btn btn-info" href="{{ path('app_article_index') }}">Retour à la liste</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-success" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                    {{ include('article/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
