{% extends 'base.html.twig' %}

{% block title %}Mes realisations{% endblock %}

{% block body %}
    <div class="container bg-dark">
        <h1 class="m-4 text-white text-decoration-underline">Mes réalisations</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-warning m-2" href="{{ path('app_project_new') }}">Ajouter un projet</a>
        {% endif %}
        <div class="row">

            {% for project in projects %}
                <div class="col-md-4 mb-2">
                    <div class="card" >
                        <img src="{{ vich_uploader_asset(project, 'imageFile')| imagine_filter('miniature') }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">  {{ project.title }} </h5>
                            <p class="card-text">{{ project.content| u.truncate(40,'...', false) }}</p>
                            <a class="btn btn-primary" href="{{ path('app_project_show', {'id': project.id}) }}">Voir Plus</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-success" href="{{ path('app_project_edit', {'id': project.id}) }}">Modifier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <h2>no records found</h2>
            {% endfor %}

        </div>
    </div>


{% endblock %}
